# dependencies
node_modules

# testing
coverage

# vercel & next
.next/
out/
build
public
.turbo
.vercel

# environment
.env*

# lockfiles
*.log*
*.lock*
*-lock.*

# miscellaneous
.DS_Store
.cache
.vscode
.history
*.pem

# not ecmascript
*.esm.js
*.js
*.mjs
*.cjs
*.css
*.html
*.svg
*.md