@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "easyJet Rounded";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/easyjet_rounded_book.ttf") format("truetype");
}

@font-face {
  font-family: "easyJet Rounded";
  font-weight: 600;
  font-style: normal;
  src: url("/fonts/easyjet_rounded_demi.ttf") format("truetype");
}

@font-face {
  font-family: "easyJet Rounded";
  font-weight: 300;
  font-style: normal;
  src: url("/fonts/easyjet_rounded_light.ttf") format("truetype");
}

@font-face {
  font-family: "easyJet Generation CY";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/easyjet_generation_headline_new.otf") format("opentype");
}

@layer base {
  :root {
    --page-maxWidth: theme("screens.tablet-header-width");
    --header-maxWidth: theme("screens.desktop-header-width");
    --dialog-maxWidth: theme("maxWidth.xl");
    --header-height: var(--primary-header-height);
    --general-bar-height: theme("height.12");
    --page-inset-large: theme("spacing.9");
    --page-inset: theme("spacing.6");
    --page-inset-small: theme("spacing.3");
    --print-gap-xs: 2.5mm;
    --print-gap-sm: 5mm;
    --print-gap: 10mm;
    --print-gap-lg: 10mm;

    /* easyJet brand container angles */
    --clip-angle: 7/8;
    --clip-angle-section: polygon(0 0, 100% 0%, 100% calc(100% * var(--clip-angle)), 0% 100%);
    --clip-angle-section-sub: polygon(0 0, 100% 0%, 100% 100%, 0% calc(100% * var(--clip-angle)));
    --clip-angle-box: polygon(0 0, 100% 0%, 100% calc(100% * var(--clip-angle)), 0% 100%);
    --clip-angle-box-right: polygon(0 0, 100% 0%, calc(100% * var(--clip-angle)) 100%, 0% 100%);

    /* calculated via https://seek-oss.github.io/capsize/ */
    --font-offset-start: 0.12451171875em;
    --font-offset-end: 0.17529296875em;
    --font-adjust: 1.4281729428172942;
  }

  :root:has([data-primary-header="visible"]) {
    --primary-header-height: 56px;
  }
  :root:has([data-secondary-header="visible"]) {
    --secondary-header-height: var(--general-bar-height);
  }
  :root:has([data-tertiary-header="visible"]) {
    --tertiary-header-height: var(--general-bar-height);
  }

  :root,
  :root:has([data-primary-header="hidden"]) {
    --primary-header-height: 0px;
  }
  :root,
  :root:has([data-secondary-header="hidden"]) {
    --secondary-header-height: 0px;
  }
  :root,
  :root:has([data-tertiary-header="hidden"]) {
    --tertiary-header-height: 0px;
  }

  @screen tablet-header-width {
    :root {
      --clip-angle: 3/4;
      --header-height: calc(var(--tertiary-header-height) + var(--secondary-header-height) + var(--primary-header-height));
      --page-inset-large: theme("spacing.12");
      --page-inset: theme("spacing.9");
      --page-inset-small: theme("spacing.6");
    }

    #simulator {
      --page-inset-large: theme("spacing.12");
      --page-inset: theme("spacing.10");
      --page-inset-small: theme("spacing.8");
    }
  }

  html {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    @apply bg-white font-sans text-base text-primary antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    -webkit-tap-highlight-color: transparent;
  }

  #simulator {
    @apply flex flex-auto flex-col;
  }

  :where(symbol, svg):not(:root, .overflow-hidden) {
    overflow: visible;
  }

  :where(button) {
    text-align: inherit;
  }

  :focus {
    outline: none;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  @media (hover: none) {
    :focus {
      outline: none;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }

  @media print {
    html {
      /* font-size: 15px; */
    }
    body > :not(#print-content) {
      display: none !important;
    }
  }

  @media not print {
    body > #print-content {
      display: none !important;
    }
  }

  @page {
    size: a4;
    margin: 10mm;
  }
}

@layer components {
  .list {
    @apply ml-3 list-outside list-disc space-y-1 pb-1;
  }
  .list > li {
    @apply list-item pl-0.5 marker:text-tertiary;
  }

  /* --pass-border-color: theme("colors.orange.darker");
  --pass-cutout-size: 24px;
  --pass-cutout-margin: (var(--page-inset) + 1px); */

  /* .boarding-pass-mask {
    --r: 40px;
    --mask: radial-gradient(var(--r) at var(--r) 50%, #0000 98%, #000) calc(var(--r) * -1);
    -webkit-mask: var(--mask);
    mask: var(--mask);
  } */

  .pdf body {
    background: #444;
  }
  .pdf #print-content {
    @apply mx-auto w-[210mm] bg-white grid gap-[10mm];
  }
  .pdf #print-content > section {
    @apply w-[210mm] p-[10mm];
    aspect-ratio: 1/1.41;
    outline: 4px solid red;
    /* overflow: hidden; */
    /* @apply w-full; */
    /* @apply after:block after:h-[10mm] after:w-[calc(100%+10mm+10mm)] after:translate-x-[-10mm] after:bg-[#444] after:translate-y-[10mm]; */
    /* @apply relative after:absolute after:left-[-10mm] after:bottom-[10mm] after:h-[10mm] after:w-[100vw] after:translate-y-[10mm] after:bg-[#444]; */
  }
  #print-content > section {
    /* @apply flex flex-col gap-[10mm]; */
    @apply space-y-[15mm] w-full;
    /* aspect-ratio: 1/1.41; */
  }
  /* #print-content > section > * {
    @apply flex-shrink-0;
  } */
  #print-content > section > img {
    @apply w-full max-w-sm h-auto mx-auto;
    aspect-ratio: 109/50;
  }

  [class][class*="text-"],
  [class][class*="text-"]:before,
  [class][class*="text-"]:after {
    @apply print:text-black;
  }

  [class][class*="bg-"],
  [class][class*="bg-"]:before,
  [class][class*="bg-"]:after {
    @apply print:bg-white;
  }

  [class][class*="border"],
  [class][class*="border"]:before,
  [class][class*="border"]:after {
    @apply print:border-black;
  }

  [class][class*="shadow"],
  [class][class*="shadow"]:before,
  [class][class*="shadow"]:after {
    @apply print:shadow-none;
  }

  [class][class*="outline-"],
  [class][class*="outline-"]:before,
  [class][class*="outline-"]:after {
    @apply print:outline-black;
  }

  svg,
  use {
    @apply print:text-black print:brightness-100 print:contrast-[107%] print:hue-rotate-[312deg] print:invert-0 print:saturate-[7500%] print:sepia-0;
  }
}

@layer utilities {
  .events-none {
    pointer-events: none;
    touch-action: none;
    user-select: none;
  }

  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  .rounded {
    --rounded: theme("borderRadius.DEFAULT");
  }
  .rounded-sm {
    --rounded: theme("borderRadius.sm");
  }
  .rounded-md {
    --rounded: theme("borderRadius.md");
  }
  .rounded-lg {
    --rounded: theme("borderRadius.lg");
  }
  .rounded-xl {
    --rounded: theme("borderRadius.xl");
  }
  .rounded-2xl {
    --rounded: theme("borderRadius.2xl");
  }
  .rounded-3xl {
    --rounded: theme("borderRadius.3xl");
  }
  .rounded-full {
    --rounded: theme("borderRadius.full");
  }
}

@layer debug {
  :root {
    --debugGrey05: rgba(120, 120, 120, calc(0.05 * var(--debug-opacity, 1)));
    --debugGrey1: rgba(120, 120, 120, calc(0.1 * var(--debug-opacity, 1)));
    --debugGrey2: rgba(120, 120, 120, calc(0.2 * var(--debug-opacity, 1)));
    --debugRed2: rgba(238, 39, 17, calc(0.2 * var(--debug-opacity, 1)));
    --debugBlue2: rgba(24, 113, 233, calc(0.2 * var(--debug-opacity, 1)));
    --debugGreen2: rgba(18, 192, 91, calc(0.2 * var(--debug-opacity, 1)));
    --debugYellow2: rgba(249, 191, 15, calc(0.2 * var(--debug-opacity, 1)));
    --debugPink2: rgba(255, 0, 255, calc(0.2 * var(--debug-opacity, 1)));
    --debugCyan2: rgba(20, 230, 245, calc(0.2 * var(--debug-opacity, 1)));
    --debugCyan3: rgba(20, 230, 245, calc(0.3 * var(--debug-opacity, 1)));
    --debugGrey4: rgba(120, 120, 120, calc(0.4 * var(--debug-opacity, 1)));
    --debugRed4: rgba(238, 39, 17, calc(0.4 * var(--debug-opacity, 1)));
    --debugBlue4: rgba(24, 113, 233, calc(0.4 * var(--debug-opacity, 1)));
    --debugGreen4: rgba(18, 192, 91, calc(0.4 * var(--debug-opacity, 1)));
    --debugYellow4: rgba(249, 191, 15, calc(0.4 * var(--debug-opacity, 1)));
    --debugPink4: rgba(255, 0, 255, calc(0.4 * var(--debug-opacity, 1)));
    --debugCyan4: rgba(20, 230, 245, calc(0.4 * var(--debug-opacity, 1)));
    --debugGrey8: rgba(120, 120, 120, calc(0.8 * var(--debug-opacity, 1)));
    --debugRed8: rgba(238, 39, 17, calc(0.8 * var(--debug-opacity, 1)));
    --debugBlue8: rgba(24, 113, 233, calc(0.8 * var(--debug-opacity, 1)));
    --debugGreen8: rgba(18, 192, 91, calc(0.8 * var(--debug-opacity, 1)));
    --debugYellow8: rgba(249, 191, 15, calc(0.8 * var(--debug-opacity, 1)));
    --debugPink8: rgba(255, 0, 255, calc(0.8 * var(--debug-opacity, 1)));
    --debugCyan8: rgba(20, 230, 245, calc(0.8 * var(--debug-opacity, 1)));
    --pixel: 0.5px;
    --debug-opacity: 0.85;
  }

  :root.debug
    :is(
      address,
      article,
      aside,
      blockquote,
      canvas,
      dd,
      div,
      dl,
      dt,
      fieldset,
      figcaption,
      figure,
      footer,
      form,
      grid,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      header,
      hr,
      li,
      main,
      nav,
      noscript,
      ol,
      p,
      pre,
      section,
      table,
      tfoot,
      ul,
      video,

    ):not([class*="bg-white"]) {
    outline: var(--pixel) solid var(--debugPink4) !important;
    background: var(--debugPink2) !important;
  }
  :root.debug hr:not([class*="bg-white"]) {
    outline: var(--pixel) solid var(--debugGreen4) !important;
    background: var(--debugGreen2) !important;
  }
  :root.debug :first-child:not([class*="bg-white"]) {
    outline: var(--pixel) solid var(--debugBlue4) !important;
    background: var(--debugBlue2) !important;
  }
  :root.debug :last-child:not([class*="bg-white"]) {
    outline: var(--pixel) solid var(--debugRed4) !important;
    background: var(--debugRed2) !important;
  }
  :root.debug :first-child:last-child:not([class*="bg-white"]) {
    outline: var(--pixel) solid var(--debugGrey4) !important;
    background: var(--debugGrey2) !important;
  }

  :root.debug :is(.grid) > *:not([class*="bg-white"]) {
    outline: var(--pixel) solid var(--debugGreen8) !important;
    background: var(--debugGreen2) !important;
  }

  /* .debug {
    --debug-outline-color: 50 50;
    --debug-background-color: 95 25;
    --debug-opacity: 100%;
    --debug-outline: 0.5px;
  }

  .debug * {
    outline: var(--debug-outline) solid lch(var(--debug-outline-color) var(--hue)) !important;
    outline-offset: calc(var(--debug-outline) / -2) !important;
    background-color: lch(var(--debug-background-color) var(--hue) / var(--debug-opacity)) !important;
  }

  .debug > * {
    --hue: 15deg;
  }
  .debug > * > * {
    --hue: 32deg;
  }
  .debug > * > * > * {
    --hue: 44deg;
  }
  .debug > * > * > * > * {
    --hue: 61deg;
  }
  .debug > * > * > * > * > * {
    --hue: 75deg;
  }
  .debug > * > * > * > * > * > * {
    --hue: 89deg;
  }
  .debug > * > * > * > * > * > * > * {
    --hue: 104deg;
  }
  .debug > * > * > * > * > * > * > * > * {
    --hue: 120deg;
  }
  .debug > * > * > * > * > * > * > * > * > * {
    --hue: 135deg;
  }
  .debug > * > * > * > * > * > * > * > * > * > * {
    --hue: 150deg;
  }
  .debug > * > * > * > * > * > * > * > * > * > * > * {
    --hue: 165deg;
  }
  .debug > * > * > * > * > * > * > * > * > * > * > * > * {
    --hue: 179deg;
  }
  .debug > * > * > * > * > * > * > * > * > * > * > * > * > * {
    --hue: 195deg;
  } */
}
