@font-face {
  font-family: "easyJet Rounded";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  src: url("/fonts/easyjet_rounded_book.ttf") format("truetype");
}

@font-face {
  font-family: "easyJet Rounded";
  font-weight: 600;
  font-display: block;
  font-style: normal;
  src: url("/fonts/easyjet_rounded_demi.ttf") format("truetype");
}

@font-face {
  font-family: "easyJet Rounded";
  font-weight: 300;
  font-display: block;
  font-style: normal;
  src: url("/fonts/easyjet_rounded_light.ttf") format("truetype");
}

@font-face {
  font-family: "easyJet Generation CY";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  src: url("/fonts/easyjet_generation_cy.ttf") format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --page-maxWidth: theme("screens.tablet-header-width");
    --header-maxWidth: theme("screens.desktop-header-width");
    --dialog-maxWidth: theme("maxWidth.xl");
    --secondary-header-height: 40px;
    --primary-header-height: 56px;
    --header-height: var(--primary-header-height);
    --page-inset-large: theme("spacing.9");
    --page-inset: theme("spacing.6");
    --page-inset-small: theme("spacing.3");
  }

  @screen tablet-header-width {
    :root {
      --header-height: calc(var(--secondary-header-height) + var(--primary-header-height));
      --page-inset-large: theme("spacing.12");
      --page-inset: theme("spacing.9");
      --page-inset-small: theme("spacing.6");
    }
  }

  html {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-gutter: stable;
  }

  body {
    @apply font-sans text-base antialiased bg-white text-primary;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
    -webkit-tap-highlight-color: transparent;
  }

  :where(symbol, svg):not(:root, .overflow-hidden) {
    overflow: visible;
  }

  :focus {
    outline: 1px solid invert;
    outline-offset: 4px;
    z-index: 50;
  }

  :focus:not(:focus-visible) {
    outline: none;
  }

  @media (hover: none) {
    :focus-visible {
      @apply ring-0 ring-offset-0;
    }
  }

  :where(button) {
    text-align: inherit;
  }
}

@layer components {
  .group\/pass {
    /* --pass-border-color: theme("colors.orange.darker");
    --pass-cutout-size: 24px;
    --pass-cutout-margin: (var(--page-inset) + 1px); */

    --border-width: 2px;
    --margin: 10mm;
    --spacing-sm: 3mm;
    --spacing: 5mm;
    --spacing-lg: 8mm;
    --featured-icon-size: 8mm;
  }

  .group\/pass * {
    border-color: theme("colors.primary.DEFAULT");
  }

  /* .group\/pass:before {
    @apply absolute inset-0 bg-[inherit] [mask:linear-gradient(to_bottom,rgb(0_0_0/0)_0%,rgb(0_0_0/1)_100%)] mix-blend-multiply opacity-10 content-[''] pointer-events-none touch-none;
  } */

  .boarding-pass-mask {
    --r: 40px;
    --mask: radial-gradient(var(--r) at var(--r) 50%, #0000 98%, #000) calc(var(--r) * -1);
    -webkit-mask: var(--mask);
    mask: var(--mask);
  }
}

@layer utilities {
  .scrollbar-none {
    scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }
}
